@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";
@import "_multiselect.css";
.dark {
    --vs-controls-color: rgb(75 85 99);
    --vs-border-color: rgb(75 85 99);

    --vs-dropdown-bg: rgb(55 65 81);
    --vs-dropdown-color: rgb(229 231 235 / var(--tw-text-opacity));
    --vs-dropdown-option-color: rgb(229 231 235 / var(--tw-text-opacity));

    --vs-selected-bg: rgb(255 255 255 / var(--tw-text-opacity));
    --vs-selected-color: rgb(255 255 255 / var(--tw-text-opacity));

    --vs-search-input-color: rgb(229 231 235 / var(--tw-text-opacity));

    --vs-dropdown-option--active-bg: rgb(59 130 246);
    --vs-dropdown-option--active-color:  rgb(255 255 255);
    --vs-border-width: 2px;
}
@media (min-width: 0px){
    tr:hover:is(.dark tbody tr:hover), :is(.dark tbody tr:nth-child(odd):hover) {
        background-color: rgb(51 65 85);
    }
}
.dark .filepond--drop-label,.dark .filepond--panel-center,.dark .filepond--panel-top.filepond--panel-root ,.dark .filepond--panel-bottom.filepond--panel-root{
    background-color: rgb(55, 65, 81);
    color: rgb(241, 245, 249);
}
table.table-auto td:not(.empty):first-child,table.table-auto th:first-child   {
    max-width: 80px!important;
    width: 80px!important;
    min-width: 80px!important;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}
.required label:after { content:"*"; color: red;padding-left: 5px; }

.multiselect-green {
    --ms-tag-bg: #D1FAE5;
    --ms-tag-color: #059669;
}

.multiselect-blue {
    --ms-tag-bg: #DBEAFE;
    --ms-tag-color: #2563EB;
}




#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: red;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px red, 0 0 5px red;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: red;
    border-left-color: red;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*front*/
.category_menu >li:hover .submenu  {
    visibility:visible;
}

